<!-- Desktop Sidebar -->
<div
  class="sidenav"
  [ngClass]="isLeftSidebarCollapsed ? 'sidenav-collapsed' : ''"
  *ngIf="!isMobile"
>
  <div class="sidenav-nav">
    <li *ngFor="let item of items; trackBy: trackByFn" class="sidenav-nav-item">
      <a
        class="sidenav-nav-link"
        [routerLink]="item.routeLink"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="closeSidenav()"
      >
        <i class="sidenav-link-icon" [class]="item.icon"></i>
        <span *ngIf="!isLeftSidebarCollapsed" class="sidenav-link-text">{{ item.label }}</span>
      </a>
    </li>
  </div>
</div>

<!-- Mobile Bottom Navigation -->
<div class="bottom-nav" *ngIf="isMobile">
  <div class="bottom-nav-item" *ngFor="let item of items; trackBy: trackByFn">
    <a
      class="bottom-nav-link"
      [routerLink]="item.routeLink"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="closeSidenav()"
    >
      <i class="bottom-nav-icon" [class]="item.icon"></i>
      <span class="bottom-nav-text">{{ item.label }}</span>
    </a>
  </div>
</div>
